/* Define global styles */
/* @import 'prism-themes/themes/prism-dracula.min.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    height: 90px;
}
@layer base {
    html {
        font-family: "Poppins", sans-serif;
        background-color: #ffffff;
    }
    body {
        @apply text-base font-sans;
        color: var(--color-black);
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    code.inline {
        color: #c0341d;
        background-color: #fcefed;
        border-radius: .5rem;
        padding: .125rem .375rem .1875rem;
    }
    h1 {
        @apply text-[40pt]/[1.2]  leading-[1.2];
    }
    h2 {
        @apply text-[24pt]/[1.2]  leading-[1.2];
    }
    h3 {
        @apply text-[18pt]/[1.2] leading-[1.2];
    }
    h4 {
        @apply text-[14pt]/[1.2] leading-[1.2];
        @apply uppercase;
    }
    p {
        @apply text-base leading-[1.6];
        color: var(--color-black);
    }
    .nav-accent-color {
        color: #2F78B5;
    }
    .primary-purple {
        color: var(--color-primary-purple);
    }
    .bg-primary-purple{
        background-color: var(--color-primary-purple);
    }
    .border-primary-purple {
        border-color: var(--color-primary-purple);
    }
    .primary-magenta {
        color: var(--color-primary-magenta);
    }
    .bg-primary-magenta {
        background-color: var(--color-primary-magenta);
    }
    .border-primary-magenta {
        border-color: var(--color-primary-magenta);
    }
    .primary-red {
        color: var(--color-primary-red);
    }
    .bg-primary-red {
        background-color: var(--color-primary-red);
    }
    .border-primary-red {
        border-color: var(--color-primary-red);
    }
    .legacy-cyclonedx {
        color: var(--color-legacy-cyclonedx);
    }
    .bg-legacy-cyclonedx {
        background-color: var(--color-legacy-cyclonedx);
    }
    .black {
        color: var(--color-black) !important;
    }
    .bg-black {
        background-color: var(--color-black) !important;
    }
}

pre[class*=language-] {
    border-radius: 0.5em !important;
}

/* The following styles are specific to free-astro-components
   https://free-astro-components.vercel.app/
*/
.ac-btn {
    font-family: "Poppins", sans-serif;
    transition: filter 0.2s ease;
}
.ac-btn--small {
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    border-radius: 18px !important;
}
.ac-btn--medium {
    border: none;
    height: initial !important;
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
    font-size: 1.0rem !important;
    font-weight: 600 !important;
    border-radius: 20px !important;
}
.ac-btn--primary {
    background-color: var(--color-primary-purple) !important;
    border-color: var(--color-primary-purple) !important;
}
.ac-btn:hover {
    filter: brightness(1.3); /* Lightens the button on hover */
}
.ac-btn--secondary {
    background-color: var(--color-primary-magenta) !important;
    border-color: var(--color-primary-magenta) !important;
}
.ac-input, .ac-checkbox {
    border-color: var(--color-primary-purple) !important;
}
.ac-checkbox:checked {
    background-color: var(--color-primary-purple) !important;
}